<%- include ("header") -%>

<h2>This is the about page</h2>

<p>To-do lists are a list of tasks that an individual needs to complete or accomplish.</p>
© <a href="https://www.g2.com "> G2 </a>
<%- include ("footer") -%>